<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinaztt.fda.ui" >

    <application
        android:name="com.chinaztt.fda.application.FDApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActvity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.chinaztt.fda.test.GalleryIndicatorActivity_"/>
        <activity android:name="com.chinaztt.fda.test.PullListviewActivity_"/>
        <activity android:name="com.chinaztt.fda.test.SPCacheActivity_"/>
        <activity android:name="com.chinaztt.fda.test.CrashTestActivity_"/>
        <activity android:name="com.chinaztt.fda.test.TranslucentActivity_"/>
        <activity android:name="com.chinaztt.fda.test.MVPTestActivity_"/>
        <activity android:name="com.chinaztt.fda.test.AnnotationsTestActivity_"/>
        <activity android:name="com.chinaztt.fda.test.AVLoadingIndicatorActivity_"/>
        <activity android:name="com.chinaztt.fda.test.EventBusTestActivity_"/>
        <activity android:name="com.chinaztt.fda.test.EventBusTestTwoActivity_"/>
        <activity android:name="com.chinaztt.fda.test.TextDrawablesTestActivity_"/>
        <activity android:name="com.chinaztt.fda.html5.HTML5WebViewCustomAD"/>
        <activity android:name="com.chinaztt.fda.test.BaseAdapterTestActivity_"/>
        <activity android:name="com.chinaztt.fda.test.VolleyTestActivity_"/>
        <activity android:name="com.chinaztt.fda.test.VolleyLoaderActivity_"/>

        <activity android:name="com.chinaztt.fda.test.MainFrameActivity_" android:theme="@style/MyTheme"/>
        <activity android:name="com.chinaztt.fda.test.RecyclerViewTestActivity"/>
        <activity android:name="com.chinaztt.fda.test.RecyclerDemoActivity_"/>
        <activity android:name="com.chinaztt.fda.test.RecyclerGalleryActivity"/>
        <activity android:name="com.chinaztt.fda.test.RecyclerViewAAActivity_"/>
        <activity android:name="com.chinaztt.fda.test.RecyclerViewRefresh.RecyclerRefreshActivity"/>
        <activity android:name="com.chinaztt.fda.test.RecyclerViewRefresh.RecyclerFootActivity"/>
        <activity android:name="com.chinaztt.fda.test.CardView.CardViewActivity"/>
        <activity android:name="com.chinaztt.fda.test.CardView.CardViewRecyclerActivity"/>
        <activity android:name="com.chinaztt.fda.test.ViewDragHelper.ViewGragHelperActivity"/>
        <activity android:name="com.chinaztt.fda.test.ComInstance.ComInstanceActivity"/>
        <activity android:name="com.chinaztt.fda.test.ComInstance.AdvanceComInstanceActivity"/>
        <activity android:name="com.chinaztt.fda.test.MainInfoActivity" android:theme="@style/AppTheme"/>
        <activity android:name="com.chinaztt.fda.test.TabLayoutActivity" android:theme="@style/APP_Theme"/>
        <activity android:name="com.chinaztt.fda.test.okhttp.OkhttpDemoActivity"/>
    </application>
    <!--添加权限-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 【可选】根据需要添加 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
